#flipContainer {
  margin: 50px auto;  
  width: 300px;
  height: 150px;
  transition: all 0.2s;
  perspective: 900;
}

.front, .back {
  padding: 2em;
  position: absolute;
  top: 0;
  width: 200px;
  height: 300px;
  text-align: left;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all .85s ease;
}


.back {
  transform: rotateY(-180deg);
}

.flipped .back {
  transform: rotateY(0deg);
  top:300px;
}

.flipped .front {
  transform: rotateY(180deg);
  top:300px;
}

.discard .back {
    
   top: 0px;
   margin-left: 250px;
}

.discard .front{
    top: 0px;
    margin-left: 250px;
}